
*, *::before, 
    *::after {
    box-sizing: border-box;
    transition: all 0.3s ease;

    &:focus-visible {
        outline: 16px dashed red;
        box-shadow: 0 0 5px 14px green;
        z-index: 9999;
    }
}

:root {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    > header {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 8px solid red;

        > h1 {
            font-size: 48px;
            font-weight: 900;
        }
    }

    > main {
        flex: 1;
        display: flex;
        flex-direction: column;
        min-height: 0;

        &:has(#summarizeCheckbox:checked) .smartSummary {
            width: auto;
            padding: 1.2em;
            opacity: 1;
            visibility: visible;
        }

        > form {
            padding: 0.5em 1em;
            border: 8px solid green;

            .summarize {
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;

                &:has(input:checked) > legend {
                    border-radius: 24px;
                    box-shadow: inset 0 -20px 30px -5px red;
                    font-weight: 700;
                }

                &:has(input:focus-visible) > legend {
                        font-size: 42px;
                        font-weight: 900;
                }

                > legend {
                        padding: 0.2em;
                        box-shadow: inset 0 -2px 0 0 red;
                        margin: 0 auto;
                        font-size: 2em;
                        font-weight: 500;

                        transition: font-weight 0.8s ease-in-out, font-size 0.3s ease, box-shadow 0.3s ease;
                    }

                > label {
                    position: relative;
                    width: 15em;
                    height: 4.5em;
                    border-radius: 38px;
                    cursor: pointer;
                    border: 8px solid blue;
                    overflow: hidden;

                    &::before {
                        position: absolute;
                        top: 50%;
                        left: 2%;
                        transform: translateY(-50%);
                        content: "";
                        width: 3em;
                        height: 3em;
                        background-color: orange;
                        border-radius: 50%;

                        font-size: 12px;
                        font-weight: 900;

                        transition: left 0.4s ease, transform 0.4s ease, font-size 0.6s ease-in-out 0.2s, width 0.3s ease-in-out 0.1s, height 0.3s ease-in-out 0.1s;
                    }

                    > #summarizeCheckbox {
                        appearance: none;
                    }

                    &:has(input:checked) {
                        background-color: grey;
                        border: 8px solid blue;
                        &::before {
                            content: "Samenvatten aan";
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 22px;
                            font-weight: 700;
                            margin: 0;
                            padding: 0;
                            width: inherit;
                            height: inherit;
                            border-radius: inherit;
                            left: 50%;
                            transform-origin: center;
                            transform: translate(-50%, -50%);
                        }
                    }
                }
            }
        }

        > .contentContainer {
            display: flex;
            flex: 1;
            align-items: stretch;
            justify-content: center;
            overflow: hidden;
            min-height: 0;

    > .chatItems {
        display: flex;
        flex-direction: column;
        border: 2px solid green;
        width: 30vw;

        > ul {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 0.1em;
            list-style-type: none;
            width: inherit;
            overflow: scroll;
            height: inherit;
            overflow-y: auto;
            flex: 1;

            margin: 0;
            padding: 0;

        > li {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin: 0;
            padding: 0;
            width: 100%;
            height: 6em;
            border: 10px solid blue;
            border-radius: 4px;

            &:focus-visible {
                border: 16px solid red;
            }

            > .chatIcon {
                margin-left: 1em;
                width: 3em;
                height: 3em;
                border: 6px solid red;
                border-radius: 50%;
            }

            > span {
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
                border: 4px solid purple;
                width: 90%;
                padding: 0;
                margin: 0;
                margin-left: 1em;
                
            > h2 {
                margin: 0;
                padding: 0;
                font-size: 3em;
                /* margin: 0;
                margin-left: 2em; */
                /* margin-bottom: 0.5em; */
                /* padding: 0;
                font-size: 2.2em; */
            }

            > p {
                margin: 0.1em 0 0 0;
                padding: 0;
                font-size: 1.2em;
            }
        }
        }
    }
    }

    > .mainContent {
        width: 70vw;
        display: flex;
        flex-direction: column;
        min-height: 0;

        > .heading {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            position: sticky;
            background-color: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            border-radius: 0 0 8px 8px;
            border: 8px solid black;

            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

            > h2 {
                margin-left: 1em;
                font-size: 3em;
                font-weight: 900;
                border-bottom: 8px solid red;
            }
        }

        .messageContainer {
            flex: 1;
            width: 100%;
            display: flex;
            /* align-items: center;
            justify-content: flex-end; */
            flex-direction: column;
            padding: 1em;
            gap: 1em;
            overflow-y: auto;

            > span {
                font-size: 28px;
                font-weight: 900;
                padding: 0.5em;
                border-radius: 8px;
                max-width: 70%;
                flex-shrink: 0;

                &:focus-visible {
                    filter: brightness(0.85);
                    font-size: 38px;
                }
            }

            > .received {
                align-self: flex-start;
                background-color: lightgray;
            }

            > .sent {
                align-self: flex-end;
                background-color: lightblue;
            }

            > .audioMessage {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.1em;

                > audio {
                    width: 20em;
                    height: 2.3em;
                    border: 6px solid green;
                    border-radius: 28px;
                    background-color: transparent;

                    &::-webkite-media-controls-mute-button,
                    &::-webkit-media-controls-volume-slider-container,
                    &::-webkit-media-controls-volume-slider {
                        display: none !important;
                    }

                    &::-webkite-media-controls-enclosure {
                        overflow: hidden;
                    }

                    &::-webkit-media-controls-panel {
                        width: calc(100% + 30px);
                    }
                }
                
                /* > .playAudioButton {
                border: 6px solid green;
                border-radius: 16px;
                background-color: transparent;
                padding: 0;
                font-size: 36px;

            }

            > .speechSlider {
                    -webkit-appearance: none;
                        appearance: none;
                        border: 10px solid red;
                        border-radius: 8px;
                        background-color: transparent;
                        background: transparent;
                        width: 20em;
                        height: 5px;

                    &::-webkit-slider-thumb {
                        appearance: none;
                        background-color: green;
                        width: 1em;
                        height: 4em;
                        border-radius: 8px;
                        
                    }
                } */

                > .smartSummary {
                    visibility: hidden;
                    opacity: 0;
                    padding: 0;
                    width: 0;
                    height: 2.3em;
                    overflow: hidden;
                    display: flex;
                    white-space: nowrap;
                    align-items: center;
                    justify-content: center;
                    font-size: 24px;
                    color: red;
                    font-weight: 700;

                    border-radius: 12px;
                    border: 6px solid green;

                    transition: padding 0.3s ease-in-out, width 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
                }
            }
        }

        > .messageInput {
                margin-top: auto;
                width: 100%;
                display: flex;
                gap: 0.5em;

                > input {
                    flex: 1;
                    padding: 0.5em;
                    border-radius: 8px;
                    border: 2px solid blue;
                    position: sticky;
                    font-size: 26px;
                    font-weight: 900;

                    &:focus-visible {
                    font-size: 38px;
                }
                }

                > button {
                    padding: 0.5em 1em;
                    border-radius: 8px;
                    cursor: pointer;
                    font-size: 32px;

                    &:focus-visible {
                        font-size: 42px;
                        font-weight: 900;
                }
                }

                /* > .smartSummary {
                    visibility: hidden;
                    opacity: 0;
                    padding: 0;
                    width: 0;
                    height: 4em;
                    overflow: hidden;
                    display: flex;
                    white-space: nowrap;
                    align-items: center;
                    justify-content: center;
                } */
            }
    }
}
}
}

.screenReaderOnly {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    white-space: nowrap;
    opacity: 0;
}